@font-face {
  font-family: "Lithos Pro, bold";
  src: url("../fonts/LithosPro-Bold.otf") format("opentype");
}

$theme: #fdb911;
$dark-theme: #d69d0c;
$lightest-theme: rgba(253, 186, 17, 0.1);
$light-theme: rgba(253, 186, 17, 0.5);

//Global
html {
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lithos Pro, bold";
}

h1 {
  font-size: 60px !important;
}
input[type="date"]::-webkit-inner-spin-button {
  background-color: $theme !important;
}
.all-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.btn,
.list-group-item,
input,
select {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  transition: 0.2s !important;
  border-radius: 0 !important;
}
.btn,
.list-group-item {
  &:hover {
    transform: scale(1.1);
    z-index: 3 !important;
  }
}

.btn-primary {
  background: $theme !important;
  border: solid 1px $theme !important;
  padding: 15px 40px !important;
  &:hover {
    background: $dark-theme !important;
  }
}
.btn-secondary {
  background: none !important;
  border: solid 1px !important;
  padding: 15px 34px !important;
}
.btn-secondary-alt {
  border: $theme solid 1px !important;
  color: $theme !important;
}
// .btn-md {
//   padding: 10px 25px !important;
// }
.header-logo {
  width: 40px;
}
.logo-text-dark,
.logo-text-white {
  width: 139px;
}
.logo-text-dark {
  display: none;
}
.footer-logo {
  width: 120px;
}
#navbar {
  background: rgba(255, 94, 0, 0);
  transition: 0.3s;
}
.nav-link {
  font-family: "Lithos Pro, bold";
}
.sticky-icons {
  max-width: 50px;
  img {
    width: 100%;
  }
}

//Home Page

//hero
.hero {
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6)),
    url("./images/hero-bg.jpg") no-repeat center;
  background-size: cover;
}

//about
.about,
.booking {
  .image {
    border: solid 2px $theme;
    background: black;
    img {
      opacity: 0.7;
    }
  }
}

//review
.review {
  background: $lightest-theme;
  .fa-angle-right,
  .fa-angle-left,
  .fa-star {
    color: $theme;
  }
  .carousel-slide-point {
    background-color: $theme;
  }
  .client-image {
    border: 5px solid $theme;
    width: 200px;
  }
}

//menu
.menu {
  .tab-content {
    min-height: 500px;
  }

  .list-group-item {
    font-family: "Lithos Pro, bold";
    &:hover {
      background: $theme;
    }
  }
  .list-group-item.active {
    background: $theme !important;
    color: black;
  }
  .price-label {
    margin-bottom: 70px;
    padding: 5px 10px;
    background: $theme;
    border-radius: 40%;
  }
}

//booking
.booking {
  background: $lightest-theme;
}

//blog
.blog {
  .blog-post {
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      transform: scale(1.1);
      .card-img-top {
        transition: 0.2s;
        opacity: 0.8;
      }
    }
    .image-container {
      background: $theme;
    }
  }
}

//contact us
.contact {
  .contact-box {
    background: $light-theme;
    height: 200px;
    .contact-box-icon {
      bottom: 170px;
      width: 50px;
      height: 50px;
      background: white;
      border: solid 3px $theme;
    }
  }
}

//footer
.footer {
  background: $theme;
}

@media (max-width: 992px) {
  .nav-link.active {
    border: solid 1px;
  }

  .contact {
    .contact-box {
      height: 240px;
      .contact-box-icon {
        bottom: 210px;
      }
    }
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 48px !important;
  }
  h2 {
    font-size: 26px !important;
  }
  h4 {
    font-size: 19px !important;
  }
  .header a,
  span,
  p,
  label,
  input,
  h6 {
    font-size: 13px !important;
  }
  .btn {
    font-size: 15px !important;
  }
  .btn-primary {
    padding: 12px 35px !important;
  }
  .btn-secondary {
    padding: 12px 29px !important;
  }
  .header-logo {
    width: 35px;
  }
  .logo-text-dark,
  .logo-text-white {
    width: 120px;
  }
  // .sticky-icons {
  //   max-width: 150px;
  //   max-height: 50px;
  //   img {
  //     width: 30%;
  //   }
  // }

  .hero {
    height: 90vh;
  }

  .review {
    .client-image {
      border: 5px solid $theme;
      width: 120px;
    }
  }

  .menu {
    .menu-tab {
      overflow-x: auto;
    }
  }

  .contact {
    .contact-box {
      height: 180px;
      .contact-box-icon {
        bottom: 150px;
        width: 50px;
        height: 50px;
      }
    }
  }
}
