$theme: #ff5e00;

//Global
body {
  overflow-x: hidden;
}
.all-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
#navbar {
  background: rgba(255, 94, 0, 0);
  transition: 0.3s;
}

//Home Page
.hero {
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6)),
    url("./images/hero-bg.jpg") no-repeat center;
  background-size: cover;
}

.menu {
  .tab-content {
    min-height: 500px;
  }
}

// @media (max-width: 992px) {
//   .active {
//     border: solid 1px white;
//   }
// }

@include media-breakpoint-down(lg) {
  .active {
    border: solid 1px white;
  }
}
