$theme: #ff5e00;
$dark-theme: #df5302;

//Global
body {
  overflow-x: hidden;
}
.all-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
#navbar {
  background: rgba(255, 94, 0, 0);
  transition: 0.3s;
}
.btn {
  outline: none !important;
  box-shadow: none !important;
  transition: 0.2s !important;
  border-radius: 0 !important;
  &:hover {
    transform: scale(1.1);
  }
}
.btn-lg {
  padding: 15px 30px !important;
}
.btn-primary {
  background: $theme !important;
  border: solid 1px $theme !important;
  &:hover {
    background: $dark-theme !important;
  }
}
.btn-secondary {
  background: none !important;
  border: solid 1px white !important;
}
//Home Page
.hero {
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6)),
    url("./images/hero-bg.jpg") no-repeat center;
  background-size: cover;
}

.menu {
  .tab-content {
    min-height: 500px;
  }
}

@media (max-width: 992px) {
  .active {
    border: solid 1px white;
  }
}
